{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow mb-4">
    <div class="container">
        <a class="navbar-brand fs-4" href="/">MyTwitter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-6">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile_list' %}">Profile List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search' %}">Search</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
                

            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-link navbar-brand">
                    <a href="{% url 'profile' request.user.id %}" class="ms-3">
                        {% if user.profile.profile_image %}
                        <img src="{{ user.profile.profile_image.url }}" class="rounded-circle" width=35>
                        {% else %}
                        <img src="{% static 'images/No-User.png' %}" class="img-fluid rounded-start" width=35>
                        {% endif %}
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>